:root {
  /* Font-families */
  --first-font-family: "Open Sans", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  /* Text-colors */
  --first-text-color: #555555;
  --second-text-color: #9da4bd;
  --dark-text-color: #303030;
  --bright-text-color: #ffffff;
  --accent-color: #ff6c00;
  /* icon-colors */
  --primary-icon-color: #303030;
  /* background-colors */
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f7f7f7;
  --third-bg-color: #191c26;
  --bright-bg-color: #ffffff;
  /* transition */
  --hft: 250ms ease ;
}

body {
  font-family: var(--first-font-family);
  color: var(--first-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

image {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  font-style: normal;
  cursor: pointer;
  -webkit-transition: color var(--hft);
  transition: color var(--hft);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.button {
  width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
  background-color: transparent;
  -webkit-transition: color var(--hft), background-color var(--hft);
  transition: color var(--hft), background-color var(--hft);
}
.button:hover, .button:focus {
  color: var(--bright-text-color);
  background-color: var(--accent-color);
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section__title {
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.suptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0;
}
.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.subtitle {
  font-size: 18px;
  line-height: 1.6666;
  letter-spacing: 0.02em;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 131px;
  cursor: pointer;
}

.logo__icon {
  fill: var(--primary-icon-color);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--bright-text-color);
}

.header__tel {
  margin-left: auto;
  margin-right: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bright-text-color);
}

.header__btn {
  color: var(--bright-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 39, 42, 0.5);
  -webkit-transition: opacity 300ms linear, visibility 300ms linear;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 500px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(48, 48, 48, 0.5);
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}

.modal__close-icon {
  display: block;
  fill: var(--primary-icon-color);
}

.modal__title {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.36;
  font-weight: 600;
  text-align: center;
}

.modal__input {
  width: 100%;
  height: 45px;
  padding-left: 30px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #999999;
  background-color: transparent;
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__form-field {
  position: relative;
  margin-bottom: 20px;
}

.modal__form-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  fill: currentColor;
}
.modal__input:focus + .modal__form-icon {
  fill: var(--accent-color);
}

.modal__send {
  display: block;
  margin: 0 auto;
}

.modal__label {
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.36;
}

.modal__comment {
  resize: none;
  width: 100%;
  padding: 10px;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid #999999;
  background-color: transparent;
}
.modal__comment:focus {
  border-color: var(--accent-color);
}

.hero {
  background-color: var(--primary-bg-color);
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100px;
  padding-bottom: 40px;
  padding-left: 27px;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 40px;
  margin-left: auto;
}
.soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--dark-text-color);
}
.hero .soc-list {
  background-color: var(--primary-bg-color);
  -webkit-transform: rotate(-90deg) translateY(100%);
          transform: rotate(-90deg) translateY(100%);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.soc-list__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: var(--dark-text-color);
  letter-spacing: 0.2em;
}

.hero__wrap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 272px 100px 208px 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(25, 28, 38, 0.2)), to(rgba(25, 28, 38, 0.2))), url(../imgs/Slider\ img\ 3.png);
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../imgs/Slider\ img\ 3.png);
  max-width: 1070px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__suptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.hero__title {
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--bright-text-color);
}

.hero__subtitle {
  max-width: 360px;
  color: var(--second-text-color);
}

.about {
  background-color: var(--primary-bg-color);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.about__wrap {
  padding-left: 30px;
  padding-right: 100px;
}

.about__suptitle {
  color: var(--dark-text-color);
}

.about__title {
  color: var(--dark-text-color);
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.prices {
  max-width: 1600px;
  background-color: #111319;
  background-image: url(../imgs/prices.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.prices__suptitle {
  color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  margin-bottom: 44px;
  color: var(--bright-text-color);
}

.prices__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 44px;
}

.price-list {
  padding: 30px 20px;
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
.price-list:first-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-list:last-child {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.price-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 12px;
}
.price-list__item::before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  width: 100px;
  background-color: var(--second-text-color);
}

.price-list__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.price-list__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices__button {
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: var(--bright-text-color);
}

.features {
  background-color: var(--bright-bg-color);
}

.features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 100px;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 370px;
  margin-right: 130px;
}

.feature-list__item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  text-align: center;
  background-color: var(--primary-bg-color);
}
.feature-list__item:nth-child(odd) {
  margin-right: 30px;
}
.feature-list__item:nth-child(even) {
  margin-top: 30px;
}

.feature-list__span {
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--dark-text-color);
}

.feature-list__sup {
  display: inline-block;
  padding-top: 7px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  vertical-align: top;
  color: var(--accent-color);
}

.feature-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--dark-text-color);
}

.features__wrap {
  max-width: 500px;
}

.features__suptitle {
  color: var(--dark-text-color);
}

.features__title {
  color: var(--dark-text-color);
}

.features__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.masters {
  background-color: var(--secondary-bg-color);
}

.masters__suptitle {
  color: var(--dark-text-color);
}

.masters__title {
  margin-bottom: 44px;
  color: var(--dark-text-color);
}

.masters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.masters-list__item {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
}

.masters-list__card-footer {
  margin-top: 30px;
}

.masters-list__name {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-text-color);
}

.masters-list__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.socials__item {
  width: 44px;
  height: 44px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bright-bg-color);
  border-radius: 50%;
}

.socials__icon {
  fill: var(--primary-icon-color);
  -webkit-transition: fill var(--hft);
  transition: fill var(--hft);
}
.socials__link:hover .socials__icon, .socials__link:focus .socials__icon {
  fill: var(--accent-color);
}

.portfolio {
  background-color: var(--primary-bg-color);
}

.portfolio__suptitle {
  margin-bottom: 44px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.porfolio__item {
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.booking-contacts {
  background-color: var(--third-bg-color);
  background-image: url(../imgs/contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.booking-contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking {
  width: calc(50% + 15px);
  padding-right: 30px;
}

.booking__title {
  color: var(--bright-text-color);
  margin-bottom: 44px;
}

/* Andrii */
.form__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 44px;
}

.form__field {
  position: relative;
}

.input {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bright-text-color);
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  background-color: transparent;
  -webkit-transition: border-color var(--hft);
  transition: border-color var(--hft);
}
.input:not(:-moz-placeholder-shown) {
  border-color: var(--bright-bg-color);
}
.input:not(:-ms-input-placeholder) {
  border-color: var(--bright-bg-color);
}
.input:focus, .input:hover, .input:not(:placeholder-shown) {
  border-color: var(--bright-bg-color);
}

.form__input {
  width: 270px;
  height: 24px;
}

.label {
  position: absolute;
  left: 0;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);
  -webkit-transition: color var(--hft), -webkit-transform var(--hft);
  transition: color var(--hft), -webkit-transform var(--hft);
  transition: transform var(--hft), color var(--hft);
  transition: transform var(--hft), color var(--hft), -webkit-transform var(--hft);
}
.input:not(:-moz-placeholder-shown) + .label {
  transform: translateY(-100%);
  color: var(--bright-text-color);
}
.input:not(:-ms-input-placeholder) + .label {
  transform: translateY(-100%);
  color: var(--bright-text-color);
}
.input:focus + .label, .input:hover + .label, .input:not(:placeholder-shown) + .label {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  color: var(--bright-text-color);
}

.form__footer {
  position: relative;
  margin-bottom: 44px;
}

.form__message {
  height: 76px;
  width: 100%;
  resize: none;
}

.form__send-button {
  color: var(--bright-text-color);
}

/* Mine  */
/* .booking-part{
  position: relative;

  width: 100%;
  margin-bottom: 44px;
}

.booking-field{
  position: relative;

  display: inline-block;
  width: calc(50% - 30px);
}

.booking-field:first-child{
  margin-right: 30px;
}

.common-label{
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4);

  transition: color var(--hft);
}

.booking-label{
  position: absolute;
  left: 0px;
  bottom: 8px;
}

.common-input{
  width: 100%;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--bright-text-color);

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
  background-color: transparent;

  transition: border-color var(--hft);
}

.booking-input{
  display: inline-block;

  padding-bottom: 8px;
}

.message-label{
  position: absolute;
  top: 0px;
  left: 0px;
}

.booking-message {
  resize: none;

  height: 75px;

  padding-bottom: 8px;
}

.booking-input:hover + .booking-label,
.booking-message:hover + .message-label,
.booking-input:focus + .booking-label,
.booking-message:focus + .message-label{
  color: var(--bright-text-color);
}

.booking-input:focus,
.booking-input:hover,
.booking-message:focus,
.booking-message:hover{
  border-color: #ffffff;
}

.booking-send{
  color: var(--bright-text-color);
} */
.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts__title {
  color: var(--bright-text-color);
}

.contacts__address {
  margin-bottom: 70px;
}

.contacts__geoposition {
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item:last-child {
  text-decoration: underline;
}

.contacts__link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contacts__schedule-title {
  color: var(--bright-text-color);
}

.contacts__schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: var(--secondary-bg-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-text-color);
}/*# sourceMappingURL=main.css.map */