.about {
  background-color: var(--primary-bg-color);
}

.about__container {
  @include tablet {
    display: flex;
    gap: 30px;
  }

  @include desktop {
    padding-right: 100px;
  }
}

.about__list {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
  }

  @include desktop {
    flex-direction: row;
    flex-shrink: unset;
  }
}

.about__wrap {
  @include desktop {
    max-width: 470px;
  }
}

.about__suptitle {
  color: var(--dark-text-color);
}

.about__title {
  color: var(--dark-text-color);

  @media screen and (max-width: 1199px) {
    max-width: 330px;
    font-size: 28px;
    line-height: 1.17;
  }
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
