.about {
  background-color: var(--primary-bg-color);
}

.about__container {
  display: flex;
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__wrap {
  padding-left: 30px;
  padding-right: 100px;
}

.about__suptitle {
  color: var(--dark-text-color);
}

.about__title {
  color: var(--dark-text-color);
}

.about__subtitle {
  margin-bottom: 20px;
}

.about__text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}