.contacts {
  width: calc(50% - 15px);
  padding-left: 100px;
}

.contacts__title {
  color: var(--bright-text-color);
}

.contacts__address {
  margin-bottom: 70px;
}

.contacts__geoposition {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item:last-child {
  text-decoration: underline;
}

.contacts__link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contacts__schedule-title {
  color: var(--bright-text-color);
}

.contacts__schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}