.contacts {
  @media screen and (max-width:1199px){
    background-color: var(--third-bg-color);
    background-image: url(../imgs/contacts/contacts-mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include retina {
      background-image: url(../imgs/contacts/contacts-mob@2.png);
    }
  
    @include tablet {
      background-image: url(../imgs/contacts/contacts-tab.png);
      @include retina {
        background-image: url(../imgs/contacts/contacts-tab@2.png);
      }
    }
  }
  
  @include desktop{
    width: calc(50% - 15px);
    padding-left: 100px;
  }
}

.contacts__container{
  @include desktop{
    width: auto;
    padding: 0;
    margin: 0;
  }
}

.contacts__title {
  color: var(--bright-text-color);
  text-align: center;

  @include tablet{
    text-align: left;
  }
}

.contacts__wrapper{
  @include tablet-only{
    display: flex;
    justify-content: space-between;
  }
}

.contacts__address {
  margin-bottom: 70px;
}

.contacts__geoposition {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__item:last-child {
  text-decoration: underline;
}

.contacts__link {
  display: flex;
  gap: 16px;
  align-items: center;

  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.contacts__schedule-title {
  color: var(--bright-text-color);
}

.contacts__schedule-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
