.features {
  background-color: var(--bright-bg-color);
}

.features__container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 44px;

  @include desktop {
    flex-direction: row;
    align-items: stretch;
    gap: 130px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.feature-list {
  display: flex;
  flex-wrap: wrap;

  @include tablet-only {
    justify-content: center;
    max-width: 450px;
  }

  @include desktop {
    max-width: 370px;
  }
}

.feature-list__item {
  flex-basis: calc((100% - 30px) / 2);
  height: 133px;
  padding: 20px;

  text-align: center;

  background-color: var(--primary-bg-color);

  &:nth-child(odd) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }

  @include mobile {
    padding: 20px 35px;
    flex-basis: 193px;
  }

  @include tablet {
    padding: 20px 44px;
    flex-basis: 210px;
  }

  @include desktop {
    padding: 20px 24px;
    flex-basis: 170px;
  }
}

.feature-list__span {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: var(--dark-text-color);
}

.feature-list__sup {
  display: inline-block;
  padding-top: 7px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  text-align: center;
  vertical-align: top;
  color: var(--accent-color);
}

.feature-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--dark-text-color);
}

.features__wrap {
  max-width: 500px;
}

.features__suptitle {
  color: var(--dark-text-color);
}

.features__title {
  color: var(--dark-text-color);
  margin-bottom: 20px;
}

.features__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
