.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;

  @include tablet{
    padding-top: 32px;
  }
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;

  @include tablet {
    margin-right: auto;
  }
}

.logo__icon {
  fill: var(--bright-text-color);

  @include tablet {
    fill: var(--primary-icon-color);
  }
}

.nav__list {
  display: none;

  @include tablet{
    display: flex;
    gap: 30px;
  }
}

.nav__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--bright-text-color);
}

.header__block {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    gap: 20px
  }

  @include desktop {
    flex-direction: row;
    gap: 40px;
  }
}

.header__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: var(--bright-text-color);
}

.header__btn {
  color: var(--bright-text-color);
}

.mobile-menu__open-button{
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--bright-text-color);

  background: transparent;
  border: none;
  cursor: pointer;

  &:hover, &:focus {
    color: var(--accent-color);
  }

  @include tablet {
    display: none;
  }
}

.mobile-menu__open-icon{
  fill: currentColor;
}

