.portfolio {
  background-color: var(--primary-bg-color);
}

.portfolio__suptitle {
  margin-bottom: 44px;
}

.portfolio__list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @include tablet{
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop{
    flex-wrap: nowrap;
  }
}

.portfolio__item {
  flex-basis: 100%;

  @include tablet{
    flex-basis: calc((100% - 30px) / 2);
  }
  @include desktop{
    flex-basis: calc((100% - 90px) / 4);
  }
}