.portfolio {
  background-color: var(--primary-bg-color);
}

.portfolio__suptitle {
  margin-bottom: 44px;
}

.portfolio__list {
  display: flex;
  gap: 30px;
}

.porfolio__item {
  flex-basis: calc((100% - 90px) / 4);
}