:root {
  /* Font-families */
  --first-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Raleway', sans-serif;
  /* Text-colors */
  --first-text-color: #555555;
  --second-text-color: #9da4bd;
  --dark-text-color: #303030;
  --bright-text-color: #ffffff;
  --accent-color: #ff6c00;
  /* icon-colors */
  --primary-icon-color: #303030;
  /* background-colors */
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f7f7f7;
  --third-bg-color: #191c26;
  --bright-bg-color: #ffffff;
  /* transition */
  --hft: 250ms ease
}